*{
    padding: 0%;
    margin: 0%;

}

body{
    background-color: rgb(155, 158, 140);
    border: 2px;
    border-style:inset;
    border-color: black;

}

.tr{
    padding: 55px 55px;
    background-image: url(https://img.freepik.com/premium-photo/old-vintage-arcade-video-games-empty-dark-gaming-room-with-blue-light-with-glowing-displays-beautiful-retro-design_505557-5456.jpg?uid=R123331894&ga=GA1.1.352622120.1725089041&semt=ais_hybrid); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.h1{
    color: rgb(165, 95, 42);
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    text-shadow: 5px 10px 5px black;
    text-align: center;
}
.td {
    padding: 0;
    margin: 0;
    width: 33.33%; 
    height: 300px; 
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the images cover the cell area without distortion */
}

.img2{
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover; /* Ensures the images cover the cell area without distortion */
    border: 9px;
    border-color: -10px -10px 6px 
            rgb(174, 83, 9);
    border-radius: 6px;
    margin-top: -50px;
    margin-right: 0px;
    border-style: inherit;


}

#p{
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    align-items: start;
    line-height: 190%;
    margin-top: -100px;
}

    

.glowing-border {
    border: 5px;
    border-radius: 7px;;
    border-style: outset;
    border-color: rgb(199, 76, 0);
    box-shadow: 0 0 60px rgb(255, 255, 255);

}

.scrolling-images {
    display: flex;
    overflow: hidden;
    animation: scroll 10s linear infinite;

}

.scrolling-images img {
    padding: 10px;
    width: 150px; 
    border: 3px;
    border-style: outset;
    border-color:rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}




